<a href="https://colab.research.google.com/github/AsiyaKazanbasova/AsiyaHomeWorkPY/blob/main/AsiyaHomeWork10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Асия Казанбасова**

# *Домашнее задание к семинару №10*

**Задача:**
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?
import random

lst = ['robot'] * 10

lst += ['human'] * 10

random.shuffle(lst)

data = pd.DataFrame({'whoAmI'lst})

data.head()

In [49]:
import pandas as pd


df = pd.read_csv('sample_data/california_housing_train.csv')

In [50]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  human
3  robot
4  robot

In [51]:
new_data = data.copy()

In [38]:
new_data

   whoAmI
0   robot
1   human
2   robot
3   robot
4   robot
5   robot
6   human
7   human
8   robot
9   robot
10  robot
11  human
12  human
13  human
14  human
15  human
16  robot
17  human
18  human
19  robot

In [60]:
new_data.loc[new_data['whoAmI'] == 'robot', 'amIrobot'] = int(True)
new_data.loc[new_data['whoAmI'] == 'human', 'amIrobot'] = int(False)
new_data.loc[new_data['whoAmI'] == 'human', 'amIhuman'] = int(True)
new_data.loc[new_data['whoAmI'] == 'robot', 'amIhuman'] = int(False)

In [61]:
new_data

   whoAmI amIrobot amIhuman
0   robot        1        0
1   human        0        1
2   human        0        1
3   robot        1        0
4   robot        1        0
5   robot        1        0
6   robot        1        0
7   human        0        1
8   human        0        1
9   human        0        1
10  human        0        1
11  robot        1        0
12  human        0        1
13  human        0        1
14  robot        1        0
15  robot        1        0
16  human        0        1
17  robot        1        0
18  human        0        1
19  robot        1        0